$base-text-color: #171717;
$base-cy-background-color-light: #f3f3f3;
$base-cy-background-color-dark: #232c32;

/*
 * Color palette for the website
*/

$app-red: #D74546;
$app-darkblue: #2C373E;
$app-cyan: #546A7F;
$app-gray: #A1A6AB;
$app-white: #F2F3F6;

/*
 * Logo color values
*/

$logo-orange: #ff3100;
$logo-red: 	#e21e40;
$logo-white: #f6f9fc;
